# 後からまとめてrmしたいときは下記コマンドで行う。
# git rm --cached `git ls-files --full-name -i --exclude-from=.gitignore`

# 補完のヒストリーファイル
ac-comphist.dat

# elファイルをコンパイルしたファイル
*.elc

# Macの隠しファイル
.DS_Store

# 自動保存ファイル
auto-save-list/

# ミニバッファのヒストリーのファイル
history

# 開いたファイルのカーソルの位置を保存するファイル
places

# 最近使用したファイル
recencf